html{
  padding:0; margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table.bordered{
  width:100%;
  border-collapse: collapse;
  border: solid 1px #666;
}
table.bordered th, td{
  border: solid 1px #666;
  padding:5px;
}
table.bordered td.right{
  text-align: right;
}

span.title{
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

label.gender{margin-left: 10px;}
input[type=text]{width:100px;height:20px}
button {background-color:rgb(8, 80, 214);color:#fff; height: 25px; border:solid 1px rgb(7, 69, 241); width: 100px; font-weight: bold;font-variant: small-caps;}